@font-face {
    font-family: 'Nunito';
    src: url('/fonts/nunito-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins-semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
  }